/*common*/
a:-webkit-any-link {
    text-decoration: none;
}

/*header*/
header {
    background-color: #444243;
    height: auto;
    padding-bottom: 2.75em;
    position: relative;
}

.logo {
    width: 8.75em;
    height: 2.82em;
    margin-top:3.75em;
}

@keyframes animTriangles {
    10% { opacity: 1 }
    100% { top: 0px }
}


.triangle {
    --arrowSize: 6px;
    width: 0px;
    height: 0px;
    border-left: var(--arrowSize) solid transparent;
    border-right: var(--arrowSize) solid transparent;
    border-bottom: 12px solid #b6b6b6;
    position: absolute;
    opacity: 0;
    animation: animTriangles 10s linear infinite;
    will-change: opacity, top;
  }

/*.triangle2 {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #858585;
    position: absolute;
}*/

header > :nth-child(odd) {
    animation-duration: 20s;
    animation-delay: 5s;
}

header > :nth-child(1) {
    left: 10%;
    top: 500px;
    border-bottom-color: rgba(182,182,182,0.6);
}

header > :nth-child(2) {
    left: 36%;
    top: 100px;
    border-bottom-color: rgba(133,133,133,0.8);
}

header > :nth-child(3) {
    left: 29%;
    top: 450px;
    border-bottom-color: rgba(182,182,182,0.3);
}

header > :nth-child(4) {
    left: 59%;
    top: 400px;
    border-bottom-color: rgba(230,61,61,0.9);
}

header > :nth-child(5) {
    left: 88%;
    top: 150px;
    border-bottom-color: rgba(133,133,133,0.5);
}

header > :nth-child(6) {
    left: 80%;
    top: 303px;
    border-bottom-color: rgba(230,61,61,0.9);
}

header > :nth-child(7) {
    left: 39%;
    top: 400px;
    border-bottom-color: rgba(182,182,182,0.2);
}

header > :nth-child(8) {
    left: 70%;
    top: 400px;
    border-bottom-color: rgba(133,133,133,0.8);
}

header > :nth-child(9) {
    left: 45%;
    top: 142px;
    border-bottom-color: rgba(230,61,61,0.9);
}


.box-text {
    margin-top: 10.03em;
    font-family: 'Hind', sans-serif;
    color: #f6f6f6;
    text-transform: uppercase;
}

.title-style {
    font-size: 3.75em;
}

.sub-style {
    font-size: 0.67em;
}

.stick {
    height:1.94em;
    width:0.25em;
    float: right;
    margin-right: 1.69em;
    margin-top: 1.75em;
    border: medium solid #6f6c6e;
}

.text {
    color: #a5a5a5;
    margin-top: 3em;
}

.phrase {
    font-family: 'Share Tech Mono', monospace;
    padding-left: 1.7em;
    position: relative;
    font-size: 18px;
}

.phrase::before {
    content: '';
    background-color: #a5a5a5;
    width: 0.25em;
    display: block;
    position: absolute;
    left: 0;
    top: -0.25em;
    bottom: -0.25em;
}

.social-medias {
    height: 1.25em;
    color: #2ff181;
}

.social {
    margin-top: 9.06em;
}

.space-bet {
    margin-right: 2.45em;
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

/*main*/
main {
    background-color: #ececec;
    height: auto;
}

.title-main {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #444243;
    margin-top: 1.45em;
    margin-bottom: 1.1em;
}

.article .box {
    background-color: #f6f6f6;
    height: 18.75em;
    padding: 1em;
    margin-top: 0.5em;
    position: relative;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.article .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.article .box:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.article .box:hover::after {
    opacity: 1;
    z-index: 9;
}

.article:last-child .box {
    background-color: #2ff583;
}

.text-style-box, a.text-style-box:hover, a.text-style-box:visited {
    font-family: 'Share Tech Mono', monospace;
    color: #444243;
}

button.text-style-box {
    border: 0;
}

.title-top {
    font-size: 1em;
    text-transform: capitalize;
    margin-top: 1.25em;
}

.text-box {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 2.3em;
}

.arrow {
    width: 2.5em;
    height: 1.94em;
    bottom: 0;
    position: absolute;
    right: 2em;
    margin-bottom: 1.25em;
}

.btn-main {
    background-color: #2ff181;
    text-transform: uppercase;
    font-size: 1.19em;
    margin:3.75em 0 3.75em 0;
    padding: 1.25em;
    width: 11.70em;
}

/*section*/
section {
    background-color: #e2e2e2;
    height: auto;
}

.row.show-more {
    padding: 4em 0;
}

.event {
    padding: 0 1.5em;
}

.text-box-section {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}

.text-after-stick {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.19em;
    position: relative;
    padding-left: 1.7em;
    margin: 0;
    line-height: 2em;
}

.text-after-stick::before {
    content: '';
    background-color: #ff5252;
    width: 0.25em;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.text-after-space {
    margin-left: 1em;
}

.phrase-2 {
    display: inline;
    vertical-align: middle;
}

.text-address {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    padding-left: 2em;
    padding-top: 0.5em;
    margin-bottom: 0;
}

.text-space {
    margin-right: 3em;
}

.btn-section {
    background-color: #2ff181;
    text-transform: uppercase;
    font-size: 1.19em;
    padding: 0.9em;
    display: inline-block;
    line-height: initial;
    border-radius: 0;
}

/*section-2*/
.image-back {
    background: url(../img/pexels-photo-440581.fw.png) no-repeat center center;
    height: 282px;
}

.title-section-2 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #ececec;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}

.transparency {
    background-color: #444243;
}

.text-after-stick-2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.19em;
    color: #ececec;
    padding-left: 1.7em;
    margin: 0;
    position: relative;
}

.text-after-stick-2::before {
    content: '';
    background-color: #ff5252;
    width: 0.25em;
    display: block;
    position: absolute;
    left: 0;
    top: 0.2em;
    bottom: 0.1em;
}

.btn-section-2 {
    background-color: #2ff181;
    text-transform: uppercase;
    font-size: 1.19em;
    padding: 1.25em;
    width: 7.70em;
    margin-top: -0.44em;
}

.phrase-3 {
    width:27.9em;
}

/*footer*/
.text-footer {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    color: #ececec;
    margin-top: 4em;
}

footer {
    background-color: #444243;
    height: auto;
    padding-bottom: 2em;
}

.color {
    color: #2ff181;
    font-family: 'Share Tech Mono', monospace;
}

.style-brand {
    float: right;
    height: 3em;
    margin-top: 3em;
}

#events .jumbotron {
    background-color: #e2e2e2;
}

#articles .jumbotron {
    background-color: #ececec;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

@media screen and (max-width: 430px) and (min-width: 320px) {
    /*header*/
    .box-text {
        margin-top: 4.13em;
    }

    .title-style {
        font-size: 2.55em;
    }

    .sub-style {
        font-size: 0.67em;
    }

    .logo {
        margin-top: -1.25em;
    }

    .text {
        color: #a5a5a5;
        text-align: right;
        font-size: 13px;
        margin-right: 0;
        margin-top: 1.75em;
    }

    .tri-position-2 {
        margin-left: 31px;
    }

    .tri-position-3 {
        margin-left: 301px;
        margin-top: -26px;
    }

    .tri-position-7 {
        margin-left: 86px;
        margin-top: -60px;
    }

    .tri-position-4 {
        margin-left: 272px;
        margin-top: -19px;
    }

    .tri-position-8 {
        margin-left: 2px;
        margin-top: -155px;
    }

    .tri-position-5 {
        margin-left: 190px;
        margin-top: 2px;
    }

    /*section-2*/
    .btn-section-2 {
        width: 7.7em;
        margin-right: 2.5em;
    }

    .article:not(:first-child) {
        margin-top: 1.5em;
    }

    header {
        padding-top: 3em;
    }

    .phrase {
        font-size: 15px;
    }
}

@media screen and (max-width: 767px) and (min-width: 429px) {
    .article:not(:first-child) {
        margin-top: 1.5em;
    }
}

@media screen and (max-width: 1030px) and (min-width: 768px) {
    /*section-2*/
    .btn-section-2 {
        width: 7.7em;
        margin-right: 2.5em;
    }

    .tri-position-5 {
        margin-left: 724px;
        margin-top: 10px;
    }

    .tri-position-3 {
        margin-left: 107px;
    }
}

@media screen and (max-width: 1200px) {
    .article:last-child {
        margin-top: 1.5em;
    }
}


/*@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}
*/
