/*common*/
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
}

/*header*/
header {
    background-color: #444243;
    height: auto;
    padding-bottom: 2.75em;
}

.logo {
    width: 8.75em;
    height: 2.82em;
    margin-top:3.75em;
}

.triangle {
    height: 14px;
    width: 14px;
}

.tri-position-1 {
    margin-left: -1054px;
    margin-top: 72px;
}

.tri-position-2 {
    margin-left: 367px;
    margin-top: 21px;
}

.tri-position-3 {
    margin-left: 1138px;
    margin-top: 36px;
}

.tri-position-4 {
    margin-left: 689px;
    margin-top: 11px;
}

.tri-position-5 {
    margin-left: 944px;
    margin-top: -51px;
}

.tri-position-6 {
    margin-left: -355px;
    margin-top: 3px;
}

.tri-position-7 {
    margin-left: 327px;
    margin-top: -159px;
}

.tri-position-8 {
    margin-left: 165px;
    margin-top: -159px;
}

.box-text {
    margin-top: 12.13em;
    font-family: 'Hind', sans-serif;
    color: #f6f6f6;
    text-transform: uppercase;
}

.title-style {
    font-size: 2.25em;
    margin-bottom: 0;
}

.sub-style {
    font-size: 3.75em;
    margin-bottom: 0;
}

.stick {
    border: solid #6f6c6e;
    height:1.94em;
    width:0.25em;
    float: right;
    margin-right: 1.69em;
    margin-top: 1.75em;
    border-width: medium;
}

.phrase {
    font-family: 'Share Tech Mono', monospace;
}

.text {
    color: #a5a5a5;
    text-align: right;
    font-size: 18px;
    margin-top: 2em;
}

.text::before {
    content: '';
    background-color: #a5a5a5;
    height: 1.74em;
    width: 0.25em;
    margin-right: 1.30em;
    vertical-align: middle;
    display: inline-block;
}

.social-medias {
    height: 1.25em;
    color: #2ff181;
}

.social {
    margin-top: 10.06em;
}

.space-bet {
    margin-right: 1em;
}

/*main*/
main {
    background-color: #ececec;
    height: auto;
}

.title-main {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #444243;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}

.box {
    background-color: #f6f6f6;
    height: 18.75em;
    padding: 1em;
    margin-top: 0.5em;
}

.box-3 {
    background-color: #2ff583;
}

.text-style-box {
    font-family: 'Share Tech Mono', monospace;
}

.text-style-box a {
    color: #444243;
}

.title-top {
    font-size: 1em;
    text-transform: capitalize;
    margin-top: 1.25em;
}

.text-box {
    text-transform: uppercase;
    font-size: 1.5em;
    margin-top: 2.3em;
}

.arrow {
    width: 2.5em;
    height: 1.94em;
    bottom: 0;
    position: absolute;
    right: 2em;
    margin-bottom: 1.25em;
}

.btn-main {
    background-color: #2ff181;
    text-transform: uppercase;
    font-size: 1.19em;
    margin:3.75em 0 3.75em 0;
    padding: 1.25em;
    width: 11.70em;
}

/*section*/
section {
    background-color: #e2e2e2;
    height: auto;
}

.box-4 {
    height: 16.75em;
}

.text-box-section {
    font-size: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
}

.text-after-stick {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.19em;
}

.text-after-stick::before {
    content: '';
    background-color: #ff5252;
    height: 2em;
    width: 0.25em;
    margin-right: 1.5em;
    display: inline-block;
    vertical-align: middle;
}

.text-after-space {
    margin-left: 1em;
}

.phrase-2 {
    display: inline;
    vertical-align: middle;
}

.text-address {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1em;
    float: left;
    margin-left: 2em;
}

.text-space {
    margin-right: 3em;
}

.btn-section {
    background-color: #2ff181;
    text-transform: uppercase;
    font-size: 1.19em;
    margin:-1em 0 3.75em 0;
    padding: 1.25em;
    width: 11.70em;
}

/*section-2*/
.image-back {
    background-image: url(../img/pexels-photo-440581.fw.png);
    background-repeat: no-repeat;
    background-position: center center;
    height: 282px;
}

.title-section-2 {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    color: #ececec;
    margin-top: 1.75em;
    margin-bottom: 1.75em;
}

.transparency {
    background-color: #444243;
}

.text-after-stick-2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.19em;
    float: left;
    margin-left: 1em;
    color: #ececec;
}

.stick-3 {
    border: solid #ff5252;
    height:3.3em;
    width:0.25em;
    float: left;
    border-width: medium;
}

.btn-section-2 {
    background-color: #2ff181;
    text-transform: uppercase;
    font-size: 1.19em;
    padding: 1.25em;
    width: 7.70em;
    float: right;
    margin-top: -0.44em;
}

.phrase-3 {
    width:27.9em;
}

/*footer*/
.text-footer {
    font-family: 'Share Tech Mono', monospace;
    font-size: 14px;
    color: #ececec;
    margin-top: 4em;
}

footer {
    background-color: #444243;
    height: auto;
    padding-bottom: 2em;
}

.color {
    color: #2ff181;
    font-family: 'Share Tech Mono', monospace;
}

.style-brand {
    float: right;
    height: 3em;
    margin-top: 3em;
}

#events .jumbotron {
    background-color: #e2e2e2;
}

@media screen and (max-width: 430px) and (min-width: 320px) {
    /*header*/
    .box-text {
        margin-top: 4.13em;
    }

    .title-style {
        font-size: 1.50em;
    }

    .sub-style {
        font-size: 2.25em;
    }

    .logo {
        margin-top: -1.25em;
    }

    .text {
        color: #6f6c6e;
        text-align: right;
        font-size: 13px;
        margin-right: 0;
        margin-top: 1.75em;
    }

    .tri-position-2 {
        margin-left: 209px;
    }

    .tri-position-3 {
        margin-left: 1195px;
        margin-top: -26px;
    }

    .tri-position-7 {
        margin-left: 86px;
        margin-top: -285px;
    }

    .tri-position-4 {
        margin-left: 115px;
    }

    .tri-position-8 {
        margin-left: 2px;
        margin-top: -155px;
    }

    .tri-position-5 {
        margin-left: 190px;
        margin-top: 2px;
    }

    /*section-2*/
    .btn-section-2 {
        width: 7.7em;
        margin-right: 2.5em;
    }
}

@media screen and (max-width: 1030px) and (min-width: 768px) {
    /*section-2*/
    .btn-section-2 {
        width: 7.7em;
        margin-right: 2.5em;
    }
}
